@import '../../styles.config.scss';

// @import '../nav/nav.scss';

.header-container {
  position: relative;
  height: 300px;
  margin: 25 auto;
  @include device-size-query(#{$small}) {
    height: 200px;
  }
}

.header-background {
  position: relative;
  height: 100%;
  background-image: url('view-from-hovenweep.jpg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
}

.header {
  position: absolute;
  height: 100%;
  top: 30%;
  text-align: center;
  margin-left: 38%;
  margin-right: 32%;
  margin-bottom: 100px;
}

.social-container {
  position: relative;
  margin-left: 38%;
  margin-right: 32%;
  margin-bottom: 100px;  
}

.social-links {
  display: inline-block;
  width: 50px;
  margin: 1% 1% 0 1%;
  color: black;
}

